{% extends 'commerce/base.html' %}
{% load static %}
{% block title %}Editar Cliente{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/editar_cliente.css' %}">
{% endblock %}

{% block content %}
<h2>Editar Cliente</h2>
<form method="post" class="form-editar-cliente">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar cambios</button>
</form>

<nav>
    <a href="{% url 'detalle_cliente' object.pk %}">Volver al detalle</a> |
    <a href="{% url 'listar_clientes' %}">Listado de clientes</a>
</nav>
{% endblock %}
